/*Global________________*/
* {
    box-sizing: border-box; 
}
html {
    font-size:62.5%;
}
body{
  margin: 0;
    padding: 0;
    
}
/*header________________*/
@import 'parts/_header.scss';
/*main________________*/
@import 'parts/_main.scss';
/*footer________________*/
@import 'parts/_footer.scss';

