footer{
    background-color: #171717;
    
    .container{
        
        margin: auto;
    }
   
    
    .end{
       
        display: flex;
        flex-flow: column;
        
       
        
        justify-content: center;
        
        
    }
    .foot{
        width: 100%;
       
        }
        h6{
            font:1.4rem/2.1rem 'OpenSans';
            color: #919191;
            text-transform: uppercase;
            text-align: center;
            
        }
        p{
            font:1.2rem/1.8rem 'OpenSans';
            color: #474747;
             text-align: center;
        }
        .DayAgo{
            font:1.1rem/1.8rem 'MyridPro';
            color: #3b3b3b;
            font-style: oblique;

        }
    .facebook a img{
        margin-left:  calc(50% - 83.5px);
    }
        
    }

@media screen and (min-width:768px){
    .container .end{
        flex-flow: row;
    }
}
@media screen and (min-width:1170px){
    footer .container{
        width: 1170px;
        
        .end{
            justify-content: flex-end;
        }    
        .foot{
            width:  calc(75% / 3);
        }
    }
    
}
